<div class="container">
  <nav id="topnav" class="navbar navbar-expand-lg navbar-light p-0">
    <a class="navbar-brand" href="/"><img src="/assets/image/ibv.png" alt="IBV"></a>
    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-01">
      <ul class="navbar-nav mx-auto px-2 dl-menu">
        <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">We</a></li>
        <li class="nav-item"><a href="#" class="nav-link">What we are looking for</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Sell your Business</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Hunters</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
      </ul>

    </div>
  </nav>
</div>
<section id="banner" class="container-fluid ">
  <div class="container">
    <h2>Do you want to know how much your company is worth?</h2>
    <p>With a few facts about your business, we will tell you what its valuation is and if we are interested in buying
      it</p>
  </div>
</section>
