.btn-send{
  width: 12rem;
}
.padding {
    padding: 100px 0;
}
.navbar-toggler {
  margin-top:1.5em;
  color:white;
}
.f-17{
  font-size: 17px!important;
}
span.p-6{
  padding: 7px 0px;
}

#form h4{
  margin: 0 0 10px;
  font-weight: 400;
  line-height: 1.7;
  color: #263a4f;
  letter-spacing: -.5px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

#form .row{
  margin-bottom:12px;
}
.text-center{
  text-align: center!important;
}